@font-face {
  font-family: basillionFont;
  src: url('./assets/basillion/Basillion.otf'),
       url('./assets/basillion/Basillion.woff'),
       url('./assets/basillion/Basillion.ttf'); 
}
@font-face {
  font-family: alteHaasGroteskRegularFont;
  src: url('./assets/alte_haas_grotesk/AlteHaasGroteskRegular.ttf');
}
@font-face {
  font-family: alteHaasGroteskBoldFont;
  src: url('./assets/alte_haas_grotesk/AlteHaasGroteskBold.ttf');
}

:root { /*<html>*/
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root { /*React's equivalent to <body>*/
  margin: 0 auto;
  padding: 1rem;
}

div.full-page {
  max-width: 1280px;
  margin: auto;
  border-width: .25rem;
  border-style: solid;
  margin-top: 2.5rem;
}

a {
  cursor: pointer;
}

/* NAVBAR */
#nav-container {
  padding-left: 2rem; /*1rem by default*/
  padding-right: 2rem; /*1rem by default*/
}
#toggle {
  border-width: 0;
}
#tabs {
  margin-left: 2rem;
  margin-right: 2rem;
}
#tabs .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
#icons .list-group-item {
  background-color: inherit;
  border-width: 0;
  font-size: 1.6em;
  line-height: .8em;
}
#color-toggle {
  font-size: 1.6em;
  margin-left: 1rem; /*maybe should be 2rem?*/
}


/* HOME PAGE */
#landing {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 90vh;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
#landing h1 {
  font-size: clamp(3.5rem, 8vw, 9rem);
  font-family: basillionFont; 

  padding-top: clamp(3rem, 6vw, 4rem);
  padding-bottom: 2rem;
  padding-left: clamp(4rem, 4vw, 5rem);
  padding-right: clamp(4rem, 4vw, 5rem);
  border-radius: clamp(4rem, 4vw, 5rem);

  outline-width: 3px;
  outline-style: solid;
  outline-offset: -1rem;
}
#landing h2 {
  margin-top: clamp(0.5rem, 2vh, 1rem);
  margin-bottom: clamp(0.5rem, 2vh, 1rem);
  font-size: clamp(1.8rem, 3vw, 3rem);
  font-family: alteHaasGroteskBoldFont;
}
#landing p {
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  font-family: alteHaasGroteskRegularFont;
}
/* about section */
#about {
  margin-left: 5vw;
  margin-right: 5vw;

  padding: 2rem;
  padding-top: 4rem;

  font-size: 1.5rem;
}
#about p.cs {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#about p.ling {
  margin-top: 3rem;
  margin-bottom: 5vh;
}
.card.lang {
  width: clamp(7rem, 10vw, 8rem);
  height: clamp(7rem, 10vw, 8rem);
  margin: .5rem;

  outline-width: 2px;
  outline-style: solid;
  outline-offset: -.5rem;
  border-radius: 1rem;
  border-width: 0;

  font-size: clamp(2rem, 3vw, 3rem);
}
.card.lang p {
  font-size: clamp(0.5rem, 3vw, 1rem);
  margin: 0;
}


/* PROJECTS & RESEARCH PAGES */
div.full-page.non-home h1 {
  margin: 2rem;
  margin-left: 2.5rem;
}
div.project {
  margin: clamp(.5rem, 2vw, 2rem);
  border-radius: 1.5rem;
  font-size: 1.2rem;
  
}
div.project .card-body {
  padding: 1.5rem;
}
div.project .body-text {
  padding: 1rem;
}

/* PROJECTS PAGE */

/* RESEARCH PAGE */
#emoji-group {
  padding-left: 2rem;
  padding-right: 2rem;
}
#emoji-group img {
  width: clamp(5rem, 20vw, 8rem);
  
}
#larynx {
  margin: 1rem;
  width: 100%;
  text-align: center;
  font-style: italic;
}
#larynx figure {
  width: clamp(16rem, 30vw, 25rem);
}






/* COLORS ---------------------------------------------------------------------------- */
:root { /*<html>*/
  --blue: #0085d2;
  --pink: #d14190; /*#DB4D9C*/
  --yellow: #F0BD75;
  --pale-yellow: #FFFDD0;

  --dm-black: #000517;
  --dm-yellow: #EEC63D;
}


#root { /*React's equivalent to <body>*/
  background-color: #b3e2f4;
  /*background-image: linear-gradient(#87CEEB, #FADADD, #FDFD96);*/
  /*background-image: linear-gradient(#9187B0, #9DADC9, #FFBFB8, #FFD2B8, #FFECCF);/* https://www.schemecolor.com/pastels-at-sunrise.php*/
  /*background-image: linear-gradient(#7ea6dc, #88A4BD, #e1bed3, #f1bac0, #efe4bb);*/
  background-image: linear-gradient(#619ee9, #b0c9ec, #ffd3ce, #FFD2B8, #ffe4b1);
}

div.full-page {
  border-color: var(--pale-yellow);
}

p {
  color: var(--blue);
}
a {
  color: var(--pink) !important;
}
a:hover {
  color: var(--yellow) !important;
}

/* NAVBAR */
#portfolio-navbar{
  background-color:var(--pale-yellow);
}
#toggle {
  color: var(--yellow);
}
#toggle .navbar-toggler-icon {
  background-image: url("./assets/hamburger-light.svg");
}
#offcanvas {
  background-color: var(--pale-yellow);
}

/* HOME PAGE */
#landing h1 {
  color: #25315a;
  background-color: #ffffff32;
  outline-color: var(--pale-yellow);
}
#landing h2 {
  color: #25315a83;
}
#landing p {
  color: #25315a83;
}
#landing a {
  color: #5c67a0 !important;
}
#landing a:hover {
  color: #fffdf0 !important;
}
/* about section -------------------------------- */
#about {
  color: var(--pink);
}
#about p {
  color: var(--pink);
}
.card.lang {
  color: var(--pale-yellow);
  background-color: #be01ae3e; /*rgba(238, 141, 255, 0.178)*/
  outline-color: var(--pale-yellow);
}
.card.lang p {
  color: var(--pale-yellow) !important;
}

/* PROJECTS/RESEARCH */
h1 {
  color: var(--pale-yellow) !important;
}
.full-page.non-home h2 {
  color: rgb(198, 0, 115) !important;
}
div.project {
  /*background-image: linear-gradient(#fffbe9db, #ffffff3d, #fffbe9db);*/
  background-color: #fffbe989;
  border-width: 0;
}

#larynx img {
  filter: invert(0);
}



/* DARK MODES --------------------------*/
.dark-mode {
  /*background-image: linear-gradient(#000918, #111643, #452670, #560b5a) !important;*/
  /*background-image: linear-gradient(#131220, #0c0935, #0c2046, #281554, #43134d) !important;*/
  background-image: linear-gradient(#474129, #000108, #00031A, #040323, #10002C, #1F0127) !important;
}
.dark-mode div.full-page {
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #fff0d033, #251c5e);
}

.dark-mode p {
  color: #fff8eb;
}
.dark-mode a {
  color: #1f1466 !important; /*#1f1466*/
}
.dark-mode a:hover {
  color: var(--dm-yellow) !important;
}

.dark-mode #portfolio-navbar {
  background-color: #fff0d0; /*#fff0d0 #0b1122*/
}
.dark-mode #toggle {
  border-width: 0;
  color: #DB4D9C;
}
.dark-mode #toggle .navbar-toggler-icon {
  background-image: url("./assets/hamburger-dark.svg");
}


.dark-mode #landing h1 {
  color: #ffeec9 ; /*#fff0d0*/
  background-color: #000000a9; 
  outline: 3px solid #fff0d033; /*#fff0d033*/
}
.dark-mode #landing h2 {
  color: #ffe991ea; /*#FFE991*/
}
.dark-mode #landing p {
  color: #ffe991cb; /*#FFE991*/
}
.dark-mode #landing a {
  color: var(--dm-yellow) !important; /*var(--dm-yellow)*/
}
.dark-mode #landing a:hover {
  color: #1d2a5e !important;
}

.dark-mode #about {
  --about-text: #ffffffd5; /*#ffffffd5*/
  color: var(--about-text);
}
.dark-mode #about p {
  color: var(--about-text);
}
.dark-mode .card.lang {
  border: .5rem solid #1b104e;
  outline: 0;
  background-color: #00000000; /*#0e0545bf #00051779*/
  color: var(--about-text);
}
.dark-mode .card.lang p {
  color: var(--about-text) !important;
}

.dark-mode h1 {
  color: #ffeec9 !important;
}
.dark-mode .full-page.non-home h2 {
  color: rgb(202, 200, 225) !important;
}
.dark-mode div.project {
  /*background-image: linear-gradient(#fffbe9db, #ffffff3d, #fffbe9db);*/
  background-color: #10144989;
}

.dark-mode #larynx img {
  filter: invert(1);
}
.dark-mode #larynx a {
  color: rgb(202, 200, 225) !important;
}
.dark-mode #larynx a:hover {
  color: #ffeec9 !important;
}

/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
*/