@font-face {
  font-family: basillionFont;
  src: url('./assets/fonts/basillion/Basillion.otf'),
       url('./assets/fonts/basillion/Basillion.woff'),
       url('./assets/fonts/basillion/Basillion.ttf'); 
}
@font-face {
  font-family: alteHaasGroteskRegularFont;
  src: url('./assets/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf');
}
@font-face {
  font-family: alteHaasGroteskBoldFont;
  src: url('./assets/fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf');
}
@font-face {
  font-family: bebasFont;
  src: url('./assets/fonts/bebas/Bebas-Regular.otf'),
       url('./assets/fonts/bebas/Bebas-Regular.ttf'); 
}

:root { /*<html>*/
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root { /*React's equivalent to <body>*/
  margin: 0 auto;
  padding: 1rem;
}

div.full-page {
  max-width: 1280px;
  margin: auto;
  border-width: .25rem;
  border-style: solid;
  margin-top: 2.5rem;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

/* NAVBAR */
#nav-container {
  padding-left: 2rem; /*1rem by default*/
  padding-right: 2rem; /*1rem by default*/
}
#toggle {
  border-width: 0;
}
#tabs {
  margin-left: 2rem;
  margin-right: 2rem;
}
#tabs .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
#icons .list-group-item {
  background-color: inherit;
  border-width: 0;
  font-size: 1.6em;
  line-height: .8em;
}
#color-toggle {
  font-size: 1.6em;
  margin-left: 1rem; /*maybe should be 2rem?*/
}


/* HOME PAGE */
#landing {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 90vh;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
#landing h1 {
  font-size: clamp(3.5rem, 8vw, 9rem);
  font-family: basillionFont; 

  padding-top: clamp(3rem, 6vw, 4rem);
  padding-bottom: 2rem;
  padding-left: clamp(4rem, 4vw, 5rem);
  padding-right: clamp(4rem, 4vw, 5rem);
  border-radius: clamp(4rem, 4vw, 5rem);

  outline-width: 3px;
  outline-style: solid;
  outline-offset: -1rem;
}
#landing h2 {
  margin-top: clamp(0.5rem, 2vh, 1rem);
  margin-bottom: clamp(0.5rem, 2vh, 1rem);
  font-size: clamp(1.8rem, 3vw, 3rem);
  font-family: alteHaasGroteskBoldFont;
}
#landing p {
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  font-family: alteHaasGroteskRegularFont;
}
/* about section */
#about {
  margin-left: 5vw;
  margin-right: 5vw;

  padding: 2rem;
  padding-top: 4rem;

  font-size: 1.5rem;
}
#about p.cs {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#about p.ling {
  margin-top: 3rem;
  margin-bottom: 5vh;
}
.card.lang {
  width: clamp(7rem, 10vw, 8rem);
  height: clamp(7rem, 10vw, 8rem);
  margin: .5rem;

  outline-width: 2px;
  outline-style: solid;
  outline-offset: -.5rem;
  border-radius: 1rem;
  border-width: 0;

  font-size: clamp(2rem, 3vw, 3rem);
}
.card.lang p {
  font-size: clamp(0.5rem, 3vw, 1rem);
  margin: 0;
}


/* PROJECTS & RESEARCH PAGES */
div.full-page.non-home h1 {
  margin: 2rem;
  margin-left: 2.5rem;
  font-family: bebasFont;
}
div.project {
  margin: clamp(.5rem, 2vw, 2rem);
  border-radius: 1.5rem;
  border-width: 0;
  font-size: 1.2rem;
}
div.project .card-body {
  padding: 1.5rem;
}
div.project .card-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: bebasFont;
}
div.project .card-subtitle {
  font-size: 1.2rem;
  font-family: bebasFont;
}
div.project .body-text {
  padding: 1rem;
}

/* CS PROJECTS PAGE */
#library-img-group {
  margin-left: 1rem;
  margin-right: 1rem;
}
#library-img-group img { 
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
}
#lingua-img-group img {
  width: 100%;
  margin: 1rem;
}

/* LING RESEARCH PAGE */
#emoji-group {
  padding-left: 2rem;
  padding-right: 2rem;
}
#emoji-group img {
  width: clamp(5rem, 20vw, 8rem);
  
}
#larynx {
  margin: 1rem;
  width: 100%;
  text-align: center;
  font-style: italic;
}
#larynx figure {
  width: clamp(16rem, 30vw, 25rem);
}






/* COLORS ---------------------------------------------------------------------------- */
:root { /*<html>*/
  --blue: #0085d2;
  --pink: #d14190; 
  --darker-pink: rgb(198, 0, 115);
  --yellow: #F0BD75;
  --pale-yellow: #FFFDD0;

  --dm-yellow: #EEC63D;
  --dm-navy: #1f1466;
  --dm-pale-yellow: #ffeec9; 
  --dm-white: rgb(210, 220, 244);
}


#root { /*React's equivalent to <body>*/
  background-color: #b3e2f4;
  background-image: linear-gradient(#619ee9, #b0c9ec, #ffd3ce, #FFD2B8, #ffe4b1);
}

div.full-page {
  border-color: var(--pale-yellow);
}

h1 {
  color: var(--pale-yellow) !important;
}
p {
  color: var(--blue);
}
a {
  color: var(--pink) !important;
}
a:hover {
  color: var(--yellow) !important;
}

/* NAVBAR */
#portfolio-navbar{
  background-color:var(--pale-yellow);
}
#toggle {
  color: #ffffff00;
}
#toggle .navbar-toggler-icon {
  background-image: url("./assets/hamburger.svg");
  filter: invert(61%) sepia(56%) saturate(7388%) hue-rotate(302deg) brightness(86%) contrast(88%); /*var(--pink)*/
}
#toggle:hover .navbar-toggler-icon {
  filter: invert(87%) sepia(90%) saturate(2433%) hue-rotate(306deg) brightness(103%) contrast(88%); /*var(--yellow)*/
}
#offcanvas {
  background-color: var(--pale-yellow);
}

/* HOME PAGE */
#landing h1 {
  background-color: #ffffff32;
  outline-color: var(--pale-yellow);
}
#landing h2 {
  color: #25315a9d;
}
#landing p {
  color: #25315a83;
}
#landing a {
  color: #4365b5 !important;
}
#landing a:hover {
  color: var(--pale-yellow) !important;
}
/* about section -------------------------------- */
#about {
  color: var(--pink);
}
#about p {
  color: var(--pink);
}
.card.lang {
  color: var(--pale-yellow);
  background-color: #be01ae3e; 
  outline-color: var(--pale-yellow);
}
.card.lang p {
  color: var(--pale-yellow) !important;
}

/* PROJECTS/RESEARCH */
div.project {
  background-color: #fffbe989;
}
div.project .card-title {
  color: var(--darker-pink) !important;
}
div.project .card-subtitle {
  color: var(--darker-pink) !important;
}

#larynx img {
  filter: invert(0);
}



/* DARK MODES --------------------------*/
.dark-mode #root {
  background-image: linear-gradient(#000108, #00031A, #040323, #10002C, #1F0127) !important;
}
.dark-mode div.full-page {
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #fff0d033, #251c5e);
}

.dark-mode p {
  color: var(--dm-white);
}
.dark-mode a {
  color: var(--dm-yellow) !important;
}
.dark-mode a:hover {
  color: var(--dm-pale-yellow) !important;
  text-shadow: 0px 0px 5px #ffffff7f;
}

.dark-mode #portfolio-navbar {
  background-color: var(--dm-pale-yellow);
}
.dark-mode #portfolio-navbar a {
  color: var(--dm-navy) !important; 
}
.dark-mode #portfolio-navbar a:hover {
  color: var(--dm-yellow) !important;
}
.dark-mode #toggle {
  border-width: 0;
  
}
.dark-mode #toggle .navbar-toggler-icon {
  filter: invert(11%) sepia(49%) saturate(5101%) hue-rotate(245deg) brightness(78%) contrast(104%); /*var(--dm-navy)*/
}
.dark-mode #toggle:hover .navbar-toggler-icon {
  filter: invert(75%) sepia(89%) saturate(361%) hue-rotate(352deg) brightness(94%) contrast(99%); /*var(--dm-yellow)*/
}
.dark-mode #offcanvas {
  background-color: #040323;
}


.dark-mode #landing h1 {
  color: var(--dm-pale-yellow) !important;
  background-color: #000000a9; 
  outline: 3px solid #fff0d033; 
  text-shadow: 0px 0px 10px #ffffffb0;
}
.dark-mode #landing h2 {
  color: #ffe991ea; 
}
.dark-mode #landing p {
  color: #ffe991cb; 
}
.dark-mode #landing a {
  color: var(--dm-yellow) !important; 
}
.dark-mode #landing a:hover {
  color: var(--dm-pale-yellow) !important;
}

.dark-mode #about {
  color: var(--dm-white);
}
.dark-mode #about p {
  color: var(--dm-white);
}
.dark-mode .card.lang {
  border: .5rem solid #1b104e;
  outline: 0;
  background-color: #00000000;
  color: var(--dm-white);
}
.dark-mode .card.lang p {
  color: var(--dm-white) !important;
}

.dark-mode div.non-home h1 {
  color: #fff0d064 !important;
}
.dark-mode div.project {
  background-color: #090c4089;
}
.dark-mode div.project .card-title {
  color: var(--dm-pale-yellow) !important; 
  text-shadow: 0px 0px 5px #ffffff7f;
}
.dark-mode div.project .card-subtitle {
  color: var(--dm-pale-yellow) !important;
  text-shadow: 0px 0px 5px #ffffff7f;
}

.dark-mode #larynx img {
  filter: invert(1);
}