:root { /*<html>*/
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-blue: #0085d2;
  --text-pink: #DB4D9C;
  --text-yellow: #F0BD75;
}


#root { /*React's equivalent to <body>*/
  margin: 0 auto;
  padding: 1rem;
  
  background-image: linear-gradient(#87CEEB, #FADADD, #FDFD96);
}

div.full-page {
  max-width: 1280px;
  margin: auto;
  border: .25rem solid #FFFDD0;
  margin-top: 2.5rem;
}

p {
  color: var(--text-blue); /* #DB4D9C #0085d2 */
}
a {
  color: var(--text-pink) !important;
  cursor: pointer;
}
a:hover {
  color: var(--text-yellow) !important;
}


/* NAVBAR */
#portfolio-navbar{
  background-color:#FFFDD0;
}
#nav-container {
  padding-left: 2rem; /*1rem by default*/
  padding-right: 2rem; /*1rem by default*/
}
#toggle {
  border: 0px;
  color: var(--text-yellow);
}
#toggle .navbar-toggler-icon {
  background-image: url("./assets/hamburger-light.svg");
}
#offcanvas {
  background-color: #FFFEE0;
}
#tabs {
  margin-left: 2rem;
  margin-right: 2rem;
}
#tabs .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
#icons .list-group-item {
  background-color: inherit;
  border: 0px;
  font-size: 1.6em;
  line-height: .8em;
}
#color-toggle {
  font-size: 1.6em;
  margin-left: 1rem; /*maybe should be 2rem?*/
}


/* HOME PAGE */
#landing {
  /*background-color:rgba(255,255,255,.25);*/
  height: 90vh;
  margin: 1rem;
}
#name {
  font-size: clamp(3rem, 8vw, 7rem);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--text-blue); 
}
#landing-text {
  font-size: clamp(2rem, 3vw, 3rem);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 3rem;
}
#about {
  background-color:rgba(255,255,255,.25);
  height: 85vh;
  margin: 1rem;
}



/* DARK MODES --------------------------*/
.dark-mode {
  /*background-image: linear-gradient(#171D30, #702674) !important;*/
  background-image: linear-gradient(#000918, #111643, #452670, #560b5a) !important;
}
.dark-mode div.full-page {
  border: .25rem solid #000517;
}

.dark-mode p {
  color:#FFE991;
}
.dark-mode a {
  color: #EEC63D !important;
}
.dark-mode a:hover {
  color: #1d2a5e !important;
}

.dark-mode #portfolio-navbar {
  background-color: #000517; /*0b1122*/
}
.dark-mode #toggle {
  border: 0px;
  color: #DB4D9C;
}
.dark-mode #toggle .navbar-toggler-icon {
  background-image: url("./assets/hamburger-dark.svg");
}


.dark-mode #name {
  color:#EEC63D;
}
.dark-mode #landing {
  background-color: rgba(255,255,255,.05);
}
.dark-mode #about {
  background-color: rgba(255,255,255,.05);
}



/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
*/